body{
	font-family: 'Source Sans Pro', sans-serif;
	font-size:20px;
	line-height:1.5;
	padding:10px 30px;
	margin:20px 150px;
	background:url(https://cdn.wallpapersafari.com/38/20/PB9auk.png);
	background-repeat:no-repeat;
	background-size:cover;
}

.highlight{
	text-decoration: underline;
	font-weight: normal;
	font-size: 2rem;
	margin-bottom:1px;
	margin-bottom:30px;
}

hr{
	border: 0;
	height: 1px;
	width:50%;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
	text-align: right;

}

a:hover {
  color: #C7160E;
}

table{
	border:1px solid black;
}

th{
	border:1px solid black;
}

td{
	border:1px solid black;
}
